.bg-image {
    background: url("https://res.cloudinary.com/diynkxbpc/image/upload/v1709381053/logo_tuaf7p.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100vh;
}


@media only screen and (max-width: 599px) {
    .bg-image {
        background: url("https://res.cloudinary.com/dgrjzgx4h/image/upload/v1709498388/Screenshot_2024-03-04-02-04-41-362_net.zedge.android-edit_cdj5ff.jpg"); 
        background-size: cover;
        background-position: center;
        object-fit: cover;
        height: 100vh;
    }
}


@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .bg-image {
        background-size: cover; 
    }
}


@media only screen and (min-width: 1025px) {
    .bg-image {
        background-size: cover; 
    }
}
