.bg-image {
    background: url("https://res.cloudinary.com/diynkxbpc/image/upload/v1709381053/logo_tuaf7p.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100vh;
}


@media only screen and (max-width: 599px) {
    .bg-image {
        background: none; 
        background-color: #d1d5db; 
    }
}


@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .bg-image {
        background-size: cover; 
    }
}


@media only screen and (min-width: 1025px) {
    .bg-image {
        background-size: cover; 
    }
}
